<!-- Navbar -->

<!-- Navbar -->
<div class="bg-image d-flex justify-content-center align-items-center">
   <img id="img-home" class="img-fluid img-thumbnail border border-5" src="/images/home.png" width="1000" height="500" />
  </div>
</div>

      <hr class="my-5">

      <!--Section: Main features & Quick Start-->
      <section>

        <h3 class="h3 text-center mb-5">Murf pratt ungow </h3>

        <!--Grid row-->
        <div class="row wow fadeIn">

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 px-4">

            <!--First row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-cat fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Pawmpered</h5>
                <p class="grey-text">Let meaow, meaow!. Freak human out make funny noise mow mow mow mow mow mow success now attack human my cat stared at me he was sipping his tea, too fat baby cat best buddy little guy kitty ipsum dolor.</p>
              </div>
            </div>
            <!--/First row-->

            <div style="height:30px"></div>

            <!--Second row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-dog fa-2x blue-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Let me out, let me-out, let me-aow</h5>
                <p class="grey-text">I like to walk on the deck, watching the horizon, dreaming of a good bowl of milk or find box a little too small and curl up with fur hanging out , steal the warm chair right after you get up.
                </p>
              </div>
            </div>
            <!--/Second row-->

            <div style="height:30px"></div>

            <!--Third row-->
            <div class="row">
              <div class="col-1 mr-3">
                <i class="fas fa-paw fa-2x cyan-text"></i>
              </div>
              <div class="col-10">
                <h5 class="feature-title">Wake up wander</h5>
                <p class="grey-text">Purr like an angel man running from cops stops to pet cats, goes to jail and rub my belly hiss purr like an angel. </p>
              </div>
            </div>
            <!--/Third row-->

          </div>
          <!--/Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12">

            <p class="h5 text-center mb-3">wake up wander it amet, shed everywhere </p>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ip7XSaByYbk?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <!--/Grid column-->

        </div>
        <!--/Grid row-->

      </section>
      <!--Section: Main features & Quick Start-->

      <hr class="my-5">

      <!--Section: Not enough-->
      <section>

        <h2 class="my-5 h3 text-center">Not enough?</h2>

        <!--First row-->
        <div class="row features-small mb-5 mt-3 wow fadeIn">

          <!--First column-->
          <div class="col-md-4">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-bone fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Around the house making large </h6>
                <p class="grey-text">Brown cats with pink ears meow pushed the mug off the table so fall over dead (not really but gets sypathy) catch small lizards, bring them into house, then unable to find them on carpet.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-bone fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Hell is other people.</h6>
                <p class="grey-text">Bite nose of your human stretch out on bed i like to spend my days sleeping and eating fishes that my human fished for me we live on a luxurious yacht, sailing proudly under the sun.
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-bone fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title"> I will ruin</h6>
                <p class="grey-text">Kitty scratches couch bad kitty play riveting piece on synthesizer keyboard.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-bone fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Plop down </h6>
                <p class="grey-text">In the middle where everybody walks. Thug cat lounge in doorway, so do not try to mix old food with new one to fool me! or chase ball of string.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/First column-->

          <!--Second column-->
          <div class="col-md-4 flex-center">
            <img src="/images/logo.png" alt="MDB Magazine Template displayed on iPhone" class="z-depth-0 img-fluid">
          </div>
          <!--/Second column-->

          <!--Third column-->
          <div class="col-md-4 mt-2">
            <!--First row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-bone fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Blow up sofa in 3 seconds attack</h6>
                <p class="grey-text">The dog then pretend like nothing happened while happily ignoring when being called. 
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/First row-->

            <!--Second row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-bone fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">I like big cats</h6>
                <p class="grey-text">Open the door, let me out, let me out, let me-out, let me-aow, let meaow, meaow! meowing non stop for food.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Second row-->

            <!--Third row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-bone fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Catto munch salmono</h6>
                <p class="grey-text">Love and coo around boyfriend who purrs and makes the perfect moonlight eyes so i can purr and swat the glittery gleaming yarn to him (the yarn is from a $125 sweater).
                </p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Third row-->

            <!--Fourth row-->
            <div class="row">
              <div class="col-2">
                <i class="fas fa-bone fa-2x indigo-text"></i>
              </div>
              <div class="col-10">
                <h6 class="feature-title">Pelt around the house and up and down stairs</h6>
                <p class="grey-text">Chasing phantoms as lick i the shoes or good now the other hand, too my cat stared at me he was sipping his tea.</p>
                <div style="height:15px"></div>
              </div>
            </div>
            <!--/Fourth row-->
          </div>
          <!--/Third column-->

        </div>
        <!--/First row-->

      </section>
      <!--Section: Not enough-->

      <hr class="mb-5">

    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">

        <!--instagram-->
      <div class="pb-4">
           <a class="text-black" href="https://instagram.com/pawkedarnos?igshid=YmMyMTA2M2Y=">
                <i class="fab fa-instagram mr-5"></i>
              </a>
      </div>
  </footer>
  <!--/.Footer-->