body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee !important;
  color: black !important;
}

a {
  color:inherit;
  text-decoration: none;
}

h1 {
  color: 15px;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #d6bcb0;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #fde3d8, #d6bcb0, #b7b9ae, #B2A8A2);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #fde3d8, #d6bcb0, #b7b9ae, #B2A8A2);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }

  #img-home{
    margin-top: 5%;
  }